<%= form_for(@car) do |f| %>
    <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :registaration_number %>
    <%= f.text_field :registration_number %>
  </div>

  <div class="field">
    <%= f.label :colour %>
    <%= f.text_field :colour %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>   
<% end %>