<p>
<strong>Brand Name:</strong>
<%= @car.brand %>
</p>

<p>
<strong>Mdel:</strong>
<%= @car.model %>
</p>

<p>
<strong>Registartion Number:</strong>
<%= @car.registration_number %>
</p>

<p>
<strong>Colour:</strong>
<%= @car.colour %>
</p>

<%= link_to 'Edit', edit_car_path %> |
<%= link_to 'Back', cars_path %>
